$num: 20px;
$str: "Roboto";
$list: 20px 30px 40px;
$map: ("medium": 30px, "large": 40px);

@mixin all-borders {
    border-width: 10px;
    border-style: solid;
    border-color: burlywood;
}

body {
    // $num: 20px; current scope
    // padding: variable-exists(num);
    // padding: global-variable-exists(num);
    padding-top: mixin-exists(second-text);
}