$num: 20;
$str: "Roboto";
$list: 20rem 30rem 40rem;
$map: ("medium": 30px, "large": 40px);

@mixin all-borders {
    border-width: 10px;
    border-style: solid;
    border-color: burlywood;
}

@function made ($a, $b) {
    @return $a + $b;
}

body {
    // $num: 20px; current scope
    // padding: variable-exists(num);
    // padding: global-variable-exists(num);
    // padding-top: mixin-exists(second-text);
    // padding-top: function-exists(made);
    // padding-top: type-of($num);
    padding-top: feature-exists(map);
}

$mycolor: burlywood;

body {
  background-color: cadetblue;

  @media screen and (max-width: 900px) {
    background-color: white;
  }

  @media screen and (max-width: 850px) {
    background-color: gray;
  }

  @media screen and (max-width: 600px) {
    background-color: orange;
  }
}

.container {
    background-color: $mycolor;
    padding: .5rem 1rem;
    width: 50%;
    border-radius: 20px;

    .title {
        color: white;
        font-size: 2rem;
        text-align: center;
    }

    @media screen and (max-width: 850px) {
        width: 40%;
        margin: 0 auto;
        background-color: black;
    }
}
