// Variables
// =========
@import "variables.scss";

body {
    background-color: gray;
}

.container {
  width: $myWidth;
  background-color: $bg-color;
  color: $myColor;
  border-radius: 10px;
  padding: 0.2rem 0;
  margin: 0 auto;
}

h1 {
  font-size: $myFontsize;
  font-family: $myFontfamily;
  text-align: center;
}

// Variable Scope
// ==============

$mySecondColor: blue;
// !global, hdd rabto inn variable kaaga ka dhigto global isticlaam

h3 {
  $mySecondColor: green !global;
  color: $mySecondColor;
  font-size: 1.5rem;
}

p {
  color: $mySecondColor;
}

// Sass Nesting
// ============
@import "Nesting.scss";

// Sass @Mixin
// ===========

@mixin second-text {
  font-size: 1.3rem;
  font-weight: bold;
  color: white;
  text-align: center;
  border: 1px solid gray;
  border-radius: 10px;
  display: block;
}

.second-header {
  @include second-text;
}

// Sass @extend
// =============

.save {
  font: 1rem;
  font-weight: bold;
  color: green;
  background-color: white;
  border: none;
  margin: 1rem 0.5rem;
  padding: 0.4rem 0.5rem;
  border-radius: 10px;
}

.cancel {
  @extend .save;
}

// Sass Functions
// ==============

.container-two {
  background-color: white;
  color: $mySecondColor;
  padding: 1.2rem 1.5rem;
}

$list1: 10px 20px 30px;
$list2: (40px 50px 60px);

.sub-title {
    // padding: length($list);
    // padding: length((width: 10px, height: 40px));
    //  font-size: nth($list, 3);
    //  font-size: nth($list, -3);
    //  font-size: set-nth($list, 3, 6rem);
    //  font-size: join($list1, $list2);
    //  font-size: join((1 2 3 4), (5 6 7 8),auto);
    //  font-size: join((1 2 3 4), (5 6 7 8),auto);
    //  font-size: append($list1, 45, comma);
    //  font-size: zip($list1, $list2);
    //  font-size: zip(1px 2px 3px, solid dashed dotted, red green blue);
    //  font-size: index($list1, 20px);
    //  font-size: list-separator($list1);
     padding: is-bracketed($list2);
}

// Sass Map
// ========

$map1: ('this is a key': 'value1', 'this is an another key': 'value2');
$font-size1: ('small': 16px, 'medium': 24px, 'large': 32px);
$font-size2: ('extera-large': 64px, 'extera-small': 8px, 'extera-medium': 48px);

$mapWithInMap: (
  'name': 'subair maxamed cali',
  'age': 2000/4/29,
  'martial-status': 'single',
  'sister': (
    'mahdiya': '27',
    'mustaaq': 'curad-30',
  )
);

.sub-title {
  font-size: map-get($font-size1, 'large');
  content: map-keys($font-size1);
  margin: map-values($font-size1);
  padding: map-has-key($font-size1, 'extera-large');
  font-size: inspect(map-merge($font-size1, $font-size2));
  font-size: inspect(map-remove($font-size1, 'small')); 
  padding: map-keys($mapWithInMap);
}

// Sass Selector 
// ===========

// $string: selector-nest("a", "&:hover");
// $string1: selector-append("a", ".active");
// $string2: selector-replace("span", "span", "strong");
// $string3: is-superselector("span", "h1 span");
// $string4: simple-selector("div.input");

// #{$string} {
//  background-color: white;
// }

// #{$string1} {
//   color: red;
// }

// #{$string2} {
//  color: yellow;
// }

// #{$string3} {
//   width: 100%;
//   background-color: white;
// }

// #{$string4} {
//   width: 100px;
// }

// sass selector begi
// ===================

$string1: selector-nest(".heading-1, .heading-2", "p");
// "a", "&:hover" nest
$string2: selector-replace("a.class-1", ".class-1", ".class");
$string3: simple-selectors("div.head");
$string4: selector-append("a", ".anchor");
$string5: selector-unify("a", ".disable");


#{$string1} {
  background-color: burlywood;
  font-size: 2rem;
  color: white;
}

#{$string2} {
  font-size: 1.2rem;
 color: white;
 text-decoration: none;
}

#{$string3} {
  font-size: 1.2rem;
 color: white;
 text-decoration: none;
}

#{$string4} {
 text-decoration: none;
 font-size: 1.3rem;
 color: brown;
 background-color: black;
}

#{$string5} {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
}