// Variables
// =========
@import "variables.scss";

body {
    background-color: gray;
}

.container {
  width: $myWidth;
  background-color: $bg-color;
  color: $myColor;
  border-radius: 10px;
  padding: 0.2rem 0;
  margin: 0 auto;
}

h1 {
  font-size: $myFontsize;
  font-family: $myFontfamily;
  text-align: center;
}

// Variable Scope
// ==============

$mySecondColor: blue;
// !global, hdd rabto inn variable kaaga ka dhigto global isticlaam

h3 {
  $mySecondColor: green !global;
  color: $mySecondColor;
  font-size: 1.5rem;
}

p {
  color: $mySecondColor;
}

// Sass Nesting
// ============
@import "Nesting.scss";

// Sass @Mixin
// ===========

@mixin second-text {
  font-size: 1.3rem;
  font-weight: bold;
  color: white;
  text-align: center;
  border: 1px solid gray;
  border-radius: 10px;
  display: block;
}

.second-header {
  @include second-text;
}

// Sass @extend
// =============

.save {
  font: 1rem;
  font-weight: bold;
  color: green;
  background-color: white;
  border: none;
  margin: 1rem 0.5rem;
  padding: 0.4rem 0.5rem;
  border-radius: 10px;
}

.cancel {
  @extend .save;
}

// Sass Functions
// ==============

.container-two {
  background-color: white;
  color: $mySecondColor;
  padding: 1.2rem 1.5rem;
}

$list1: 10px 20px 30px;
$list2: (40px 50px 60px);

.sub-title {
    // padding: length($list);
    // padding: length((width: 10px, height: 40px));
    //  font-size: nth($list, 3);
    //  font-size: nth($list, -3);
    //  font-size: set-nth($list, 3, 6rem);
    //  font-size: join($list1, $list2);
    //  font-size: join((1 2 3 4), (5 6 7 8),auto);
    //  font-size: join((1 2 3 4), (5 6 7 8),auto);
    //  font-size: append($list1, 45, comma);
    //  font-size: zip($list1, $list2);
    //  font-size: zip(1px 2px 3px, solid dashed dotted, red green blue);
    //  font-size: index($list1, 20px);
    //  font-size: list-separator($list1);
     padding: is-bracketed($list2);
}

// Sass Map
// ========

$map1: ('this is a key': 'value1', 'this is an another key': 'value2');
$font-size1: ('small': 16px, 'medium': 24px, 'large': 32px);

.foo {
  content: map-get($map1, 'this is an another key')
}

.sub-title {
  font-size: map-get($font-size1, 'large');
  padding: map-get($font-size1, 'medium');
}