// Sass Selector 
// ===========

// $string: selector-nest("a", "&:hover");
// $string1: selector-append("a", ".active");
// $string2: selector-replace("span", "span", "strong");
// $string3: is-superselector("span", "h1 span");
// $string4: simple-selector("div.input");

// #{$string} {
//  background-color: white;
// }

// #{$string1} {
//   color: red;
// }

// #{$string2} {
//  color: yellow;
// }

// #{$string3} {
//   width: 100%;
//   background-color: white;
// }

// #{$string4} {
//   width: 100px;
// }

// sass selector begi
// ===================

$string1: selector-nest(".heading-1, .heading-2", "p");
// "a", "&:hover" nest
$string2: selector-replace("a.class-1", ".class-1", ".class");
$string3: simple-selectors("div.head");
$string4: selector-append("a", ".anchor");
$string5: selector-unify("a", ".disable");
$string6: selector-extend("a.link", "a", ".warning");


#{$string1} {
  background-color: burlywood;
  font-size: 2rem;
  color: white;
}

#{$string2} {
  font-size: 1.2rem;
 color: white;
 text-decoration: none;
}

#{$string3} {
  font-size: 1.2rem;
 color: white;
 text-decoration: none;
}

#{$string4} {
 text-decoration: none;
 font-size: 1.3rem;
 color: brown;
 background-color: black;
}

#{$string5} {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
}

#{$string6} {
  color: blue;
  text-decoration: none;
  font-size: 2rem;
}